:root{
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(205, 100%, 95%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Magnolia);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'ubuntu';
    /* letter-spacing: 1.2px; */
}

.navigation{
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 565px;
    width: 270px;
    /* background-size: cover; */
}
.step {
 display: none; 
}
.step.active {
 display: block; 
}
.step-indicator { 
    font-weight: bold;
    color: var(--Magnolia);
    border:1px solid var(--Magnolia);
    cursor: pointer; 
    padding: 3px 10.5px;
}
.step-indicator.active { 
    color: var(--Marine-blue);
    background-color: var(--Light-blue);
    border-color: var(--Light-blue);
}
.navigation .small {
    color: var(--Light-gray);
    /* font-size: 14px; */
}
.navigation .steptopic {
    color: var(--Magnolia);
    /* font-size: 14px; */
}
.btn-custom{
    width: 24%;
    background-color: var(--Marine-blue) ;
    color: var(--Light-gray);
}
.mainCard{
    border-radius: 15px;
    padding: 0;
    width: 100%;
}
.custom-darkblue{
    color: var(--Marine-blue);
}
.custom-gray{
  color: var(--Cool-gray);
}
.custom-purpleBlue{
    color: var(--Purplish-blue) ;
}

.form-control::placeholder{
    color: var(--Cool-gray);
    font-size: 16px;
}

.custom-input:focus {
    --bs-focus-ring-color: transparent !important;
   border-color: var(--Purplish-blue) ;
   color: var(--Marine-blue);
}
/* .optionCard{
    width: ;
} */
.optionCard img{
    width: 30%;
}
form .card:hover{
    border-color: var(--Purplish-blue) ;
}
.form-check {
   accent-color: white;    
}
.custom-switch{
    background-color:var(--Marine-blue) !important; 
    border-color: var(--Marine-blue) !important;
    width: 50px !important;
    height: 24px !important;
    color: white !important;
}
.custom-switch:checked {
    background-color: var(--Marine-blue)!important;
    border-color: var(--Marine-blue) !important;
}
.input-group-text p:nth-last-child(1) br{
   display: none;
}

.periodicityBox{
    background-color: var(--Magnolia);
    width: 100%;
}
#previousBtn{
    color: var(--Cool-gray);
    background-color: white;
    border: 0;
}
#previousBtn:hover{
    color: var(--Marine-blue);
}
.input-group-text.picked{
    background-color: var(--Magnolia)!important ;
    border-color: var(--Purplish-blue)!important ;

}
.custom-checkbox{
    width: 20px;
    height: 20px;
    border:1.5px solid var(--Cool-gray) !important;
}
.custom-checkbox:checked{
    background-color:  var(--Purplish-blue) !important;
    border-color: var(--Purplish-blue) !important ;
}
.custom-checkbox:focus{
    border-color: var(--Purplish-blue) !important ;
    box-shadow: 2px var(--Purplish-blue) !important ;
}
.Add-onsPrice{
    color: var(--Purplish-blue);
}
.optionCard.selected{
    background-color: var(--Magnolia);
    border: 2px solid var(--Purplish-blue);

}
.custom-card{
    background-color: var(--Magnolia);
    border: 0;
}
.custom-ul{
    --bs-list-group-bg:var(--Magnolia);
}
.custom-small{
    font-size: 16px;
}
#confirmationSlide{
    transition: ease-in-out all 3.s;
}
#confirmationSlide p {
    max-width: 450px; /* Adjust width as needed */
    justify-self: center;
}
#changeLink {
    font-size: 18px;
}
#changeLink:hover {
    color: var(--Purplish-blue);
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:992px) {
    .navigation{
        display: flex;
        background-image:url(assets/images/bg-sidebar-mobile.svg);
        height: 100%;
        width: 100%;
        justify-content:  center;
    
    }
    .step-identifier{
        display: none;
    }
}

@media screen and (max-width:800px){
    body {
        background: url(assets/images/bg-sidebar-mobile.svg),var(--Magnolia);
        background-position: top,bottom;
        background-repeat: no-repeat, no-repeat;
        background-size:  contain, cover; 
        padding: 15px 0px;
        overflow-x: hidden;
       
    }
    .mainCard{
        background: transparent;
    }
    .navigation{
        background-image:none;
    }
    .step{
        background-color: var(--White);
    }
    .optionCard{
        padding: 10px;
    }
    .optionCard img{
        width: 18%;
    }
}
@media screen and (max-width:500px) {
    body{
        -webkit-text-size-adjust: 75%;
    }
    .btn-custom{
        width: 35%;
    }
    .button-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0px 20px;
        margin: 0;
        background: white; /* Match the form background */
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for separation */
       
    }
   
}
@media screen and (max-width:330px) {
    .input-group-text p:nth-last-child(1) br{
        display: block;
    }

}